**

!Dockerfile
!docker/
!docker/nginx/
!docker/nginx/default.conf
!docker/nginx/app.conf
!docker/nginx/ssl.conf
!docker/nginx/40-enable-ssl.sh
!docker/nginx/41-inject-beian.sh
!docker/nginx/42-configure-real-ip.sh
!docker/nginx/43-start-html-pdf.sh
!server/
!server/**
!dist/
!dist/index.html
!dist/runtime/
!dist/runtime/**
!codecs/
!codecs/**
!ai/
!ai/**
!video/
!video/**
!pdf/
!pdf/**
!fonts/
!fonts/**
!models/
!models/**
!licenses/
!licenses/**
!assets/
!assets/**
!templates/
!templates/**
!docs/
!docs/imging-project-v1.schema.json
!docs/imging-project-v2.schema.json
!docs/imging-project-v3.schema.json
!seo/
!seo/**
# imging-locales:start
!en/
!en/**
!ja/
!ja/**
!ko/
!ko/**
!de/
!de/**
!es/
!es/**
!pt/
!pt/**
!fr/
!fr/**
# imging-locales:end
!robots.txt
!sitemap.xml
!llms.txt
!b3449251ce1eb68a7b2920d31af684c1.txt

codecs/.DS_Store
codecs/**/*.d.ts
codecs/**/*.md
codecs/**/package.json
